.modal4 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.modal4_content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 95%;
    z-index: 501;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #ffffff;
    margin-top: 85px;
    padding-top: 50px;
}

.close_modal_window4 {
    margin-top: 30px;
    display: none;
    color: rgba(46, 63, 105, 1);
    cursor: pointer;
}

.close_modal_window4 img {
    float: right;
    margin-right: 40px;
}

.kinds-help {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-self: center;
    margin-bottom: 15px;
    padding-top: 40px;
}

.help_item {
    cursor: pointer;
    flex: 1;
    color: #363b5d;
    font-family: "Geometria-ExtraBold";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.help_item img {
    width: 35px;
    height: 35px;
    padding: 20px;
    border: 2px solid #c5d5e6;
    border-radius: 15px;
    vertical-align: top;
}

.help_item-text {
    color: #515572;
    font-family: "Gilroy-Light";
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.help_item-text.two-p {
    padding-top: 0px;
}

.modal4_text {
    color: #363b5d;
    font-family: "Geometria-ExtraBold";
    font-size: 64px;
    font-weight: 700;
}